In [1]:
i = 20

In [2]:
i

20

In [5]:
print('Hello, world !')

Hello, world !

In [6]:
print(1 + 1)
print(2 * 5)
print(10 ** 3)

2
10
1000

In [1]:
msg = 'test'

In [2]:
print(msg)

test

In [3]:
msg[0]

't'

In [4]:
msg[1]

'e'

In [5]:
msg[5]

IndexError: string index out of range

In [6]:
data = 1
print(data)

data = data + 10
print(data)

1
11

In [1]:
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(data_list)

print('変数のタイプ:', type(data_list))

print('要素数:', len(data_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
変数のタイプ: <class 'list'>
要素数: 10

In [2]:
d_list = [5, 2, 3]
len(d_list)

3

In [3]:
data_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
data_list.remove(3)
data_list

AttributeError: 'numpy.ndarray' object has no attribute 'remove'

In [10]:
dic_data = {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
print(dic_data['melon'])

500

In [11]:
print(dic_data['orange'])

300

In [12]:
print(dic_data['apple'] + dic_data['orange'])

400

In [21]:
1 == 1

True

In [22]:
1 != 2

True

In [23]:
1 > 0

True

In [24]:
(1 > 0) and (10 > 5)

True

In [25]:
(1 < 0) or (10 > 5)

True

In [26]:
not(1 < 0)

True

In [28]:
findvalue = 13

if findvalue in data_list:
    print('{0}は入っています。'.format(findvalue))
else:
    print('{0}は入っていません。'.format(findvalue))
print('ここからはif文と関係なく必ず表示されます')

13は入っていません。
ここからはif文と関係なく必ず表示されます

In [29]:
print('{0}と{1}を足すと{2}です。'.format(2, 3, 5))

2と3を足すと5です。

In [30]:
total = 0

for num in [1, 2, 3]:
    print('num:', num)
    total = total + num
print('total:', total)

num: 1
num: 2
num: 3
total: 6

In [31]:
for dic_key in dic_data:
    print(dic_key, dic_data[dic_key])

apple 100
banana 100
orange 300
mango 400
melon 500

In [32]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [36]:
for key, value in dic_data.items():
    print(key, value)

apple 100
banana 100
orange 300
mango 400
melon 500

In [37]:
data_list1 = []
data_list1 = [i * 2 for i in data_list]
print(data_list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 22]

In [38]:
[i * 2 for i in data_list if i % 2 == 0]

[4, 8, 12, 16, 20]

In [39]:
for one, two in zip([1, 2, 3], [11, 12, 13]):
    print(one, 'と', two)

1 と 11
2 と 12
3 と 13

In [40]:
num = 1

while num <= 10:
    print(num)
    num = num + 1
    
print('最後の値は{0}です'.format(num))

1
2
3
4
5
6
7
8
9
10
最後の値は11です

In [41]:
def calc_multi(a, b):
    return a * b
calc_multi(3, 10)

30

In [42]:
def calc_print():
    print('printのサンプル関数')

In [43]:
calc_print()

printのサンプル関数

In [44]:
def calc_fib(n):
    if n == 1 or n == 2:
        return 1
    else:
        return calc_fib(n - 1) + calc_fib(n - 2)
print("フィボナッチ数:", calc_fib(10))

フィボナッチ数: 55

In [49]:
def calc_fib2(n):
    fib = 0
    fib_1 = 1
    fib_2 = 1
    if n <= 2:
        return 1
    for i in range(3, n+1):
        fib = fib_1 + fib_2 
        fib_2 = fib_1
        fib_1 = fib
    return fib
calc_fib2(10)

55

In [53]:
(lambda a, b: a * b)(3, 10)

30

In [54]:
def calc_double(x):
    return x * 2

In [55]:
for num in [1, 2, 3, 4]:
    print(calc_double(num))

2
4
6
8

In [56]:
list(map(calc_double, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [57]:
list(map(lambda x : x * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [61]:
from operator import add
from operator import sub
from operator import mul
arr = [35, 1, 2, 4, 7]
reduce(add, arr)
reduce(sub, arr)
reduce(mul, arr)

1960

In [68]:
words = ['Python', 'Java', 'C', 'JavaScript']
words_above_5 = filter(lambda a: True if len(a) > 5 else False, words)
for i in words_above_5:
    print(i)

Python
JavaScript

In [72]:
std = 'Data Science'
for s in std:
    print(s)

D
a
t
a

S
c
i
e
n
c
e

In [73]:
su = 0
for i in range(51):
    su = su + i
su

1275

In [74]:
class PrintClass:
    def print_me(self):
        print(self.x, self.y)
        
pl = PrintClass()

pl.x = 10
pl.y = 100
pl.z = 1000

pl.print_me()

10 100

In [89]:
class MyCalcClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def calc_add1(self, a, b):
        return a + b
    def calc_add2(self):
        return self.x + self.y
    def calc_multi(self, a, b):
        return a * b
    def calc_print(self, a):
        print('data:{0}:yの値{1}'.format(a, self.y))
    def calc_sub(self):
        return self.y - self.x

In [80]:
instance_1 = MyCalcClass(1, 2)
instance_2 = MyCalcClass(5, 10)

In [81]:
print('２つの数の足し算(新たに数字を引数としてセット):', instance_1.calc_add1(5, 3))
print('２つの数の足し算(インスタンス化の時の値):', instance_1.calc_add2())
print('２つの数の掛け算:', instance_1.calc_multi(5, 3))
instance_1.calc_print(5)

２つの数の足し算(新たに数字を引数としてセット): 8
２つの数の足し算(インスタンス化の時の値): 3
２つの数の掛け算: 15
data:5:yの値2

In [87]:
print('２つの数の足し算(新たに数字を引数としてセット):', instance_2.calc_add1(10, 3))
print('２つの数の足し算(インスタンス化の時の値):', instance_2.calc_add2())
print('２つの数の掛け算:', instance_2.calc_multi(4, 3))
instance_2.calc_print(20)

２つの数の足し算(新たに数字を引数としてセット): 13
２つの数の足し算(インスタンス化の時の値): 15
２つの数の掛け算: 12
data:20:yの値10

In [90]:
instance_3 = MyCalcClass(6, 8)
print(instance_3.calc_sub())

2

In [96]:
def odd_num(n):
    judge = True
    for i in range(2, n + 1):
        judge = True
        for k in range(2, i):
            if i % k == 0:
                judge = False
                break
        if(judge == True):
            print(i)

In [98]:
odd_num(50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47